<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Web 1</title>
    {{!-- fontawesome --}}
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">

    {{!-- font oswald --}}
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Oswald&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">


        <nav class="nav-main">
            <img src="src/static/img/pngocean.com (1).png" alt="logo" class="nav-brand">
            <ul class="nav-menu">
                <li>
                    <a href="#">Web development</a>
                </li>

                <li>
                    <a href="#">Web blockchain</a>
                </li>
                <li>
                    <a href="#">Artificial inteligence</a>
                </li>
                <li>
                    <a href="#">Machine learning</a>
                </li>
                <li>
                    <a href="#">Web Developer</a>
                </li>
                <li>
                    <a href="#">Starup</a></li>
                </li>

                <li>
                    <a href="#">Mas</a>
                </li>
            </ul>

            {{!-- -------------------------------------------------}}

            <ul class="nav-menu-right">
                <li>
                    <a href="#">
                        <i class="fa fa-search"></i>
                    </a>
                </li>

            </ul>
        </nav>
        <hr>
        <br>

        {{!-- showcase --}}

        <header class="showcase">
            <h2>Grandes noticias hoy!!</h2>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem labore mollitia quasi,
                temporibus, laboriosam recusandae quae ad commodi dolore pariatur enim rem, provident doloribus eveniet
                laudantium corrupti itaque? Labore, rem.
            </p>

            <a class="btn" href="#">Leer mas!! <i class="fas fa-angle-double-right"></i></a>

        </header>

    </div>

</body>

</html>